@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

body {
  text-align: left;
  font-family: 'Open Sans';
}

h2 {
  margin: 0;
  font-family: 'Fjalla One';
}

.wrapper {
  margin-top: 20%;
  margin: 20% 
}

.main {
  padding: 30px;
  height: 800px;
  background-size: cover;
}

.user-block {
  border: 1px dotted yellow;
}